<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .border{
            margin:50px;
            padding:25px 35px;
            border:1px solid #ddd;
            border-radius:3px;
        }
    </style>
</head>
<body>
<div class="border">
    <h1 style="color: green">Login Success</h1>
    <table>
        <tr>
            <td>Name</td>
            <td> : [[${appUser.name}]]</td>
        </tr>
        <tr>
            <td>Age</td>
            <td> : [[${appUser.age}]]</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td> : [[${appUser.gender}]]</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td> : [[${appUser.phone}]]</td>
        </tr>
        <tr>
            <td>Email</td>
            <td> : [[${appUser.email}]]</td>
        </tr>
    </table>

    <a th:href="@{logout}" >Logout</a>

</div>
</body>
</html>