<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Form</title>

    <style>
        .warning{
            margin:0px;
            padding: 0px;
            margin-top:3px;
            color:red;
            font-size:14px;
            display:block;
        }

        .registration_form{
            margin:50px;
            padding:25px 35px;
            border:1px solid #ddd;
            border-radius:3px;
        }

    </style>

</head>
<body>

<div class="registration_form">

    <h2>Registration Form</h2>
    <form th:action="@{registration}" th:object="${appUser}" method="post">

        <p class="warning" th:if="${error!=null}" th:text="${error}"></p>

        <table>

            <tr>
                <td>Username <span style="color:red">*</span></td>
                <td> : <input th:field="*{name}" type="text" placeholder="Enter user name"></td>
                <td> <p class="warning" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')[0]}"></p> </td>
            </tr>

            <tr>
                <td>Age <span style="color:red">*</span></td>
                <td> : <input th:field="*{age}" type="text" placeholder="Enter user age"></td>
                <td> <p class="warning" th:if="${#fields.hasErrors('age')}" th:text="${#fields.errors('age')[0]}"></p> </td>
            </tr>

            <tr>
                <td>Gender <span style="color:red">*</span></td>
                <td> :
                    <select th:field="*{gender}" style="width:95%">
                        <option value="select gender">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
                <td> <p class="warning" th:if="${#fields.hasErrors('gender')}" th:text="${#fields.errors('gender')[0]}"></p> </td>
            </tr>

            <tr>
                <td>Phone <span style="color:red">*</span></td>
                <td> : <input th:field="*{phone}" type="text" placeholder="Enter phone number"></td>
                <td> <p class="warning" th:if="${#fields.hasErrors('phone')}" th:text="${#fields.errors('phone')[0]}"></p> </td>
            </tr>

            <tr>
                <td>Email <span style="color:red">*</span></td>
                <td> : <input th:field="*{email}" type="text" placeholder="Enter email address"></td>
                <td> <p class="warning" th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}"></p> </td>
            </tr>

            <tr>
                <td>Password <span style="color:red">*</span></td>
                <td> : <input th:field="*{password}" type="password" placeholder="Enter user password"></td>
                <td> <p class="warning" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></p> </td>
            </tr>

            <tr>
                <td> <input type="submit" value="Register">
            </tr>

        </table>
    </form>

    Already have an account? <a th:href="@{login}">Login</a>

</div>

</body>
</html>
